{#
/**
 * @file
 * Theme override for gridnav implementation.
 *
 * Primarily used to display child pages on landing pages. 'gridnav' as a
 * theme suggestion can be configured in the ui, on a menu block or a display
 * suite field implementation of a menu block.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - img_info: Array containing info on image associated with menu link:
 *     - uri: Image uri.
 *     - url: Image url, publicly accessible.
 *     - path: Image path, internal.
 *     - width: Original image width.
 *     - height: Original image height.
 *     - render: Image render array.
 *     - style: Array with img_info processed by an image style.
 *
 * @see function ma_bootstrap_preprocess_menu().
 *
 * @ingroup templates
 */
#}

{% set gridnav_title_wrapper = gridnav_title_wrapper ?: 'h3' %}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
      <div{{ attributes.addClass('row', 'menu', 'nav', 'gridnav') }}>
    {% for item in items %}
      {%
        set item_classes = [
          'col-md-4',
          'col-sm-6',
          'col-xs-12',
          item.in_active_trail ? 'active',
        ]
      %}
      <div{{ item.attributes.addClass(item_classes) }}>
      {# background image handling. i don't know twig well enough to know if there is a better way to write out this syntax #}
      {# twig will only consider the html safe if it's set in this block syntax. see https://twig.symfony.com/doc/2.x/tags/set.html #}
      {% set link_title %}
        <{{ gridnav_title_wrapper }}>{{ item.title }}</{{ gridnav_title_wrapper }}>
      {% endset %}
      {% if item.img_info is empty %}
        {{ link(link_title, item.url, {
          'class':['thumbnail', 'no-img', 'bg-light'],
          })
        }}
      {% elseif item.img_info.style is empty %}
        {{ link(link_title, item.url, {
          'class':['thumbnail', 'text-light'],
          'style':['background-image: url(' ~ item.img_info.url ~ '); background-repeat: no-repeat; background-position: 50% 50%;']
          })
        }}
      {% else %}
        {{ link(link_title, item.url, {
          'class':['thumbnail', 'text-light'],
          'style':['background-image: url(' ~ item.img_info.style.url ~ '); background-repeat: no-repeat; background-position: 50% 50%; height: ' ~ item.img_info.height ~ 'px; width: ' ~ item.img_info.width ~ 'px;']
          })
        }}
      {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes.removeClass('nav', 'gridnav'), menu_level + 1) }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% endif %}
{% endmacro %}
